#content,body,#header .topbar,#header #site-nav,.form-control,#side-categories.side-cover {
    background-color: black;
    background: black;
}
#cookies-use-alert{
    display: none !important;
}
.btn-primary{
    background:#FF005C;
    border-color:#FF005C;
}
